/*Estilos Comuns*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    background-image: url("../images/site-images/fundo_turismar.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    background-color: rgb(200, 0, 0);
    padding: 10px 0;
}

/*Seção do Título*/
#site-title{
    text-align: center;
    color: darkblue;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}
nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

nav a:hover {
    color: gold;
}
/*Seção do Mapa*/
.map {
    height: 500px;
    margin: 15px 0;
    border: 1rem solid #ddd;
    border-radius: 8px;
}
/*Seção do Rodapé*/
footer {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

footer p {
    margin: 0;
}
/**/
/**/

/*ESTILOS index.html Homepage*/
/**/

/**/


/* ### */
/*ESTILOS sobre.html */
/**/
#mapa-ma{
    width: 80%;
    margin: 10px 10%;
    border: 0.5rem ridge gold;
    border-radius: 8px;
}
#datasheet-ma{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
#about-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2.5;
    text-align: justify;
    background-color: antiquewhite;
    width: 90%;
    margin-left: 5%;
    border: 1rem #ddd;
    border-radius: 8px;
    text-indent: 5%;
    padding: 10px;
}

/* ### */
/*ESTILOS */
/**/


/* Responsividade */
@media (max-width: 768px) {
    #site-title {
        font-size: 1.5rem;
    }

    nav ul {
        text-align: left;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }

    #map {
        height: 300px;
    }
}